[submodule "styleguide"]
	path = styleguide
	url = https://github.com/dennishn/nodes_styleguide.git
[submodule "src/styleguide"]
	path = src/styleguide
	url = https://github.com/dennishn/nodes_styleguide.git
